{% extends "apps/layout.html" %}
<html>
<body id="main">
    {% block body %}
    <div>
      <h1>SAMPLE DATA PAGE</h1>
    </div>

    <div>
        <!-- 入力値を送信 -->
        <form action="http://127.0.0.1:8000/apps/okayasu/data/" method="POST">
            {% csrf_token %}
            <input class="favorite styled" type="submit" value="Register">
            <input class="favorite styled" type="text" name="data" value="data-">
        </form>
    </div>

    <div>
        <!-- 取得した値をテーブル表示 -->
        <table>
            <tbody>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                </tr>
                {% for value in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>
