{% extends "apps/layout.html" %}
<html>
<body id="main">
    {% block body %}
        <div>
            <h1>ERROR PAGE</h1>
        </div>

        <div>
            <!-- エラーメッセージを表示 -->
            <p>{{ message }}</p>
        </div>

        <div>
            <!-- 戻る -->
            <form action="http://127.0.0.1:8000/apps/hazeyama/data/" method="GET">
                {% csrf_token %}
                <input class="favorite styled" type="submit" value="Returen">
            </form>
        </div>
        {% endblock %}
</body>
</html>
